body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.company-name{
    color: #2947A9;
    margin-left: 10px;
}
.d-flex{
    display: flex;
    align-items: center;
}
.header-sec{
    width: 100%;
    height: 80px;
    justify-content: space-between;
}
.logo-sec img{
    width: 38px;
    height: 47.5px;
    margin-right:10px ;
    padding-left:90px ;
}
.ancor-sec{
    padding-right: 80px;
}
.ancor-sec a{
    text-decoration: none;
    margin-right: 15px;
    color:#14171F;
    font-weight: 700;
    font-size: 17px;
   
}
.ancor-sec a:hover {
    color: #F9995D;

}
.menu-bar{
    display: none;
}

/* media quari */
@media (max-width: 576px) { 
    .header-sec{
        height: 50px;
    }
    .ancor-sec{
       display: none;
    }
    .company-name{
        margin: 0;
    }
    .logo-sec img{
        width: 28px;
        height: 33.5px;
        margin-right: 10px ;
        padding-left: 20px ;
    }
    .menu-bar{
        margin-right: 20px;
        display: block;
    }
 }




.m-banner img{
    width: 100%;
}
/* our repotation section* */
.repo-sec{
    padding: 50px 150px;
}
.repo-sec h1{
    text-align: center;
    color: #292E3D;
    font-weight: 700;
}
.repo-div{
    justify-content: space-around;
    padding-top: 25px;
    
}

.Service {
    width: 292px;
    height: 197px;
    border: 1px solid #C2C7D6;
    padding: 20px;
    margin: 30px;
}
.fa-icon{
    color: #F9995D;
    font-size: 40px;
}


/* repotation media quarary */
@media (max-width: 576px) { 
    .repo-sec{
        padding: 15px 15px;

    }
    .repo-div{
        
        display: block;
        padding-top: 2px;
        
    }
    .Service{
        margin: 20px auto;
    }
   
}




/* about us section */
.about-us{
    padding: 80px;
    position: relative;
}

.about_us_content{
    position: absolute;
    top: 135px;
    right: 100px;
    padding: 30px;
    width: 400px;
    height: 500px;
    color: white;
    background-color: #2947A9;
}
.btn-about-us{
    background-color: white;
    color:#2947A9 ;
    font-size: large;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 150px;
}

/* contact us media quary */
@media (max-width: 576px) {
    .about-us{
        margin: 0;
        padding-left: 40px;
        position:static;
    }
    .about-img{
        width: 110%;
    }
    
    .about_us_content{
        position: static;
        padding: 30px;
        width:90%;
        height: auto;
        color: white;
        background-color: #2947A9;
    }
}
/* service section */
.service-m-sec{
    margin-left: auto;
    text-align: center;
    background-color: #E0E3EB;
    padding-top: 50px;
}
.services-box{
    padding: 40px 215px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.service-w{
    padding-top: 40px;
    width: 271px;
    height: 140px;
    color: #2947A9;
    background-color: #fff;
}
.service-b{
    padding-top: 40px;
    width: 271px;
    height: 140px;
    color: #fff;
    background-color: #2947A9;
}

/* experience section */
.ex-section{
    padding: 50px 150px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.ex-value{
    position: relative;
    margin: 50px 200px;
}
.ex-single-value{
    width: 160px;
    padding: 10px 25px;
    box-shadow: 2px 2px 10px 1px #E0E3EB ;
    position: relative;
}
.ex-single-value p{
    font-weight: 900;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 3px solid #F9995D;
}
.ex-single-value h1{ 
    margin: 0;
}

/* -------------single value position setup--------------- */
.icon-happy{
    width:60px;
    position: absolute;
    top: -25px;
    right: -10px;
}
.happy-client{
    position: absolute;
    top: 10px;
    right: 0px;
}

.project-complete{
    position: absolute;
    top: 87px;
    left: 10px;
}
.icon-project{
    width:60px;
    position: absolute;
    top: -35px;
    left: -20px;
}
.awards-win{
    position: absolute;
    top: 164px;
    right: 15px;
}
.icon-awards{
    width:60px;
    position: absolute;
    top: -25px;
    right: -10px;
}
.busness-year{
    position: absolute;
    top: 242px;
    left: 20px;
}
.icon-busness{
    width:60px;
    position: absolute;
    top: -45px;
    left: -30px;
}

/* experience content section */
.ex-content{
    padding-top: 50px;

}
.ex-content h1{
    color: #2947A9;
}
.contact-btn{
    margin-top: 60px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #2947A9;
}
/* consaltation section */
.project-sec{
    margin: 80px;
}
.consaltation-section{
    margin-top: 50px;
    position: relative;
}
.consaltation-section img{
    width:100% ;
}
.consaltation-content{
    position: absolute;
    top: 0;
    color: #fff;
    padding: 100px 100px;
}
.consaltation-content button{
    margin-left: 200px;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #fff;
    color: #fff;

}
/* project section */

.p-b-section{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.side-bar{
    padding-left: 50px;
}


.side-bar a{
    line-height: 30px;
    display: block;
    text-decoration: none;
    color: #C2C7D6;
}
.side-bar span{
    color: #2947A9;
    font-weight: bold;
    border-left: 2px solid #2947A9;
    padding-left: 5px;
}
.s-project img{
    margin: 0;
    padding: 0;
}
.img-title{
    margin-top: -6px;
    padding:14px;
    font-weight: 200;
    background-color: #2947A9;
    color: #fff;
    width: 356px;
    height: 70px;
}
.img-title h2{
    margin: 0 0 4px 0;
}
.t-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.project-btn button{
    width: 295px;
    height: 64px;
    background-color: #14171F;
    color: #fff;
    font-size: 20px;
    border: none;
   
}
.fa-p{
    margin-right: 5px;
    font-size: 20px;
}
.r-btn{
    margin-left: 90px;
}
/* contact from */
.conctact-from{
    text-align: center;
}
.input-feild{
    padding: 5px;
    font-size: large;
    width: 275px;
    height: 25px;
    border:1px solid #C2C7D6 ;
    border-radius: 5px;
    margin: 10px;
}
.message-feild{
    padding: 5px;
    font-size: large;
    width: 587px;
    height: 135px;
    border:1px solid #C2C7D6 ;
    border-radius: 5px;
    margin: 10px;
}
.submit{
    padding: 15px 100px;
    background-color: #2947A9;
    color: #fff;
    border: none;
    border-radius: 2px;
}
/* footer section */
.footer{
    margin: 100px 15%;
    display: flex;
    justify-content: space-between;

}
.socail-icon{
    font-size: 25px;
    border-radius: 50%;
    margin-right: 20px;
    color: #14171F;
}
.btm-footer{
    background-color: #F9995D;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;
}
.footer-input{
    padding: 5px;
    font-size: large;
    width: 200px;
    height: 25px;
    border:1px solid #C2C7D6 ;
    border-radius: 5px;
}
/* copywrite section */
.copywrite-sec{
    width: 100%;
    padding: 25px 0 0 50px;
    height: 45px;
    background-color: #2947A9;
    color: #fff;
}


